<div class="text-pretty text-sm ">
    <p class="mb-4">My name is Marcos, since I was a child I used to see my father playing the computer and when I was five years old I had my first contact
        with one of them. At first I used to spend time playing video games <strong class="text-yellow-200">until I discovered the world of graphic design</strong>, then I started designing banners
        for my colleagues using a web application and then making them in Photoshop.</p>
    <p class="mb-4">Later, through video games, I also got to know the best-known editor called <strong class="text-yellow-200">Sony Vegas</strong>, where I also learned many concepts in the audiovisual area creating edits of my plays better called 'frag movies' and uploading them to YouTube.</p>
    <p class="mb-4">
        After finishing high school, I knew that my future had to be related to technology, that is why I trained at Coderhouse for a year where I learned just what was necessary to take off on my path as a <strong class="text-yellow-200">Full Stack Developer</strong>.
    </p>
</div>