<div id="responsive" class="sm:hidden w-6 h-6 flex">
    <!-- btn responsive -->
    <nav class="flex">
        <div>
            <button><svg class="h-6 w-6 flex-none stroke-slate-500" stroke-width="2" stroke-linecap="round" fill="currentColor"><path d="M4 7h16M4 12h16M4 17h16"></path></svg></button>
        </div>
    </nav>

</div>