 <!-- menu responsive -->
     <div id="navbarToggleExternalContent" class="hidden w-4/5 flex fixed right-8 top-24 bg-purple-950 bg-opacity-45 px-4 py-4 border border-purple-700 rounded font-semibold">
        <nav class="flex flex-col gap-y-4 text-sm">
            <a href="#experience">Experience</a>
            <a href="#projects">Projects</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </nav>
    </div>


 <script>
    document.addEventListener('DOMContentLoaded', function() {
        const navbar = document.getElementById("responsive");
        const navbarContent = document.getElementById("navbarToggleExternalContent");
        if (navbar && navbarContent) {
            navbar.addEventListener('click', () => {
                if(navbarContent.classList.contains("hidden")) {
                    navbarContent.classList.remove("hidden");
                } else {
                    navbarContent.classList.add("hidden");
                }
            });
        }
      
    });
 </script>