---
import { Image } from 'astro:assets'
import iconHTML from '../icons-svg/html5.svg'
import iconReact from '../icons-svg/react.svg'
import iconFirebase from '../icons-svg/firebase.svg'
import iconCss from '../icons-svg/css.svg'
import iconAstro from '../icons-svg/astro_dark.svg'
import iconTailwind from '../icons-svg/tailwindcss.svg'
import iconPhotoshop from '../icons-svg/photoshop.svg'
import iconIllustrator from '../icons-svg/illustrator.svg' 
import iconSqlite from '../icons-svg/sqlite.svg' 
import iconJavascript from '../icons-svg/javascript.svg' 
import iconBootstrap from '../icons-svg/bootstrap.svg' 
import iconNodejs from '../icons-svg/nodejs.svg' 


const skills = [ 
    {
        name: "HTML",
        icon: iconHTML
    },
    {
        name: "CSS",
        icon: iconCss
    },
    {
        name: "Bootstrap",
        icon: iconBootstrap
    },
    {
        name: "JavaScript",
        icon: iconJavascript
    },
    {
        name: "ReactJs",
        icon: iconReact
    },
    {
        name: "NodeJs",
        icon: iconNodejs
    },
    {
        name: "Firebase",
        icon: iconFirebase
    },
    {
        name: "Astro",
        icon: iconAstro
    },
    {
        name: "Tailwind",
        icon: iconTailwind
    },
    {
        name: "SqLite",
        icon: iconSqlite
    },
    {
        name: "Photosohp",
        icon: iconPhotoshop
    },
    {
        name: "Illustrator",
        icon: iconIllustrator
    },
]

---
<nav class="flex overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)] w-[260px] mx-[calc((100%-250px)/2)] md:w-[550px] md:mx-[calc((100%-750px)/2)]">   
    <ul class="flex items-center gap-x-2">
        {skills.map(({name, icon}) =>  (
            <li class="mx-2 xl:mx-4"><Image src={icon} alt={name} class="size-12 max-w-none"/></li>
        ))}
    </ul>
    <ul class="flex items-center gap-x-2">
        {skills.map(({name, icon}) =>  (
            <li class="mx-2 xl:mx-4"><Image src={icon} alt={name} class="size-12 max-w-none"/></li>
        ))}
    </ul>
</nav>

<style>
    ul {
        animation: scrollInfinite 25s linear infinite; 
    }
    @keyframes scrollInfinite {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%)
        }
    }
</style>